/*!
 * PassMeNot v0.0.1 (http://github.com/vadimck/PassMeNot)
 * Copyright 2014 PassMeNot
 */

ul.subjects {
    padding: 0;
    list-style: none;
}
ul.subjects li {
    border-top:1px solid #ddd;
    margin: 10px 0;
    padding: 10px 0;
}
ul.subjects li:first-child {
    border-top:1px solid transparent;
}

ul.subjects li h1 {
    padding: 0;
    margin: 0 0 5px 0;
}

input.aim {
    width: 50px;
    margin: 0 auto;
}

.box {
    border:1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
}